<!DOCTYPE html>
<html>
 <head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>


	<script type="text/javascript" src="/javascripts/jquery.ValidationEngine-es.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.ValidationEngine.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/validationEngine.jquery.css">

   <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    
  <script type="text/javascript" src="/javascripts/bootstrap-dialog.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-dialog.min.css">
	
	</head>
  <body>
    <div class="container-fluid" 
    style="padding-left: 20px;padding-right: 20px">
    	{{{body}}}
    </div>

  </body>
</html>
